*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%), url("https://th.bing.com/th/id/R.f14e590cb7c776154ce3bdd5f0a0a8a7?rik=eB%2btd2unv6eIgQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f7%2f4%2f0%2f148396.jpg&ehk=gOU8SmpVuCMLVf%2b25HfnYr9M9nSUpKJHRuvVVnj0zwY%3d&risl=&pid=ImgRaw&r=0p");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #bba288;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 300px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 92px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #9e4c4c;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #f7f3f0;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #f5f3f1;
    border: 2px solid #53473e;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #f9f5f5;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-right: 250px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #f0e9e9;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: rgb(19, 19, 19);
    transition: .3s ease;
}

.cn:hover{
    background-color: #9e4c4c;
}

.content span{
    color: #f7e7e7;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #655547;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #d7c6b8;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #e7e0d9;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #5e5349;
}
.btnn a{
    text-decoration: none;
    color: #dcc6c6;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #574b41;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #615245;
}
/* Section */
.section {
    padding: 40px 20px;
    text-align: center;
}

.section h2 {
    color: #6f0921;
    margin-bottom: 25px;
    font-size: 40px;
}

.section p {
    margin-bottom: 25px;
    font-size: 18px;
}
/* About us */
.about-highlight {
    background: #ffe6e6;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 500px;
}
{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

.about-us-section {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(ppaws.png) no-repeat center center; 
    background-size: contain; 
    opacity: 0.5; 
    pointer-events: none; /
}

.about-us-header {
    font-size: 2rem;
    font-weight: bold;
    color: #6f0921;
    margin: 0;
}

.divider {
    width: 550px;
    height: 3px;
    background-color: #2fa86c;
    margin: 10px auto 30px;
}

.about-us-content {
    font-size: 1rem;
    line-height: 1.6;
    color: #252121;
    max-width: 700px;
    margin: 0 auto;
    position: relative; 
    z-index: 1;
}

.about-us-content strong {
    font-weight: bold;
}
